.app {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4vh 4vh 92vh;
    grid-template-areas: "navbar" "header" "content";
}

.main_picture {
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.app-header {
    /* position: sticky; */
    top: 0;
    background-color: #282c34;
    /* height: 10vh; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    color: white;
    z-index: 400;
}

.header_text {
    margin: 0;
    text-align: left;
    margin-left: 20px;
    font-size: minmax(2vw 50px);
}

.main_content {
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 4vh auto; */
    align-items: center;
    justify-content: start;
}

.image_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    margin: 0;
    padding: 50px;
}

.image_preview {
    width: 100%;
    height: 100%;
}

.hover_image {
    height: 40vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    transition: all 0.1s ease-in-out;
}

.hover_image:hover {
    filter: brightness(1.1) contrast(1.1);
}

.full_width_image {
    width: 100%;
    margin-bottom: 20vh;
}

.fullscreen_image {
    height: 90vh;
    width: 90%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
}

.image_backdrop {
    user-select: none;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 101%;
    height: 101%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 10% 80% 10%;
    column-gap: 5px;
    justify-items: center;
    align-items: center;
    z-index: 600;
}

.image_navigation {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.image_navigation:hover {
    opacity: 0.5;
}

.arrow_svg {
    transform: translate(0px, 50vh);
}

.arrow_triangle {
    fill: white;
}

.gallery_counter {
    font-size: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: white;
    z-index: 999;
}

.site_navigation {
    position: sticky;
    top: 0;
    background-color: #282c34;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 500;
}

.site_navigation>li {
    float: left;
}

.site_navigation>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0.7;
}

.site_navigation>li>a:hover {
    opacity: 1;
    transform-origin: center;
    transform: scale(1.1);
}

.selected_site {
    background-color: #ffffff2c;
}

.work_navigation {
    position: sticky;
    top: 0;
    z-index: 600;
    width: 100%;
    height: 4vh;
}